# --------------------------
# System / IDE
# --------------------------
.DS_Store
*.log
*.sqlite3
*.tsbuildinfo
.vscode/
.idea/

# --------------------------
# Python
# --------------------------
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
.env.*   # Optional: for multiple envs like .env.production

# --------------------------
# Airflow
# --------------------------
airflow/airflow.db
airflow/unittests.cfg
airflow/__pycache__/
airflow/logs/
airflow_pgdata/
airflow/data/

# --------------------------
# Docker volumes
# --------------------------
pgdata/
*.pid
*.dump

# --------------------------
# Frontend (Node/React)
# --------------------------
node_modules/
dist/
frontend/.next/
frontend/.turbo/
frontend/node_modules/
frontend/.env.local

# --------------------------
# Build Artifacts
# --------------------------
build/
coverage/

# --------------------------
# Secrets & Sensitive
# --------------------------
credentials/
*.key
*.pem
*.crt
secrets*
config*

# --------------------------
# Misc
# --------------------------
ROADMAP.md

# --------------------------
# Terraform
# --------------------------
*.tfstate
*.tfstate.*
.crash
.terraform/
.terraform.lock.hcl
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.secret.auto.tfvars
*.auto.tfvars